
*{
    font-family: sans-serif;
}

#info {
    text-align: center;
}
.info{
    text-align: center;
    border-radius:16px;
}

#area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 30px;
}

#escopo {
    border: 0;
}

#right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

#run {
    border: 0;
    background-color: rgba(137, 43, 226, 0.841);
    border-radius: 8px;
    cursor: pointer;
}

#run:hover {
    -webkit-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    background-color: rgba(43, 226, 46, 0.772);

}